.header {
  @apply h-header fixed w-full left-0 top-[30px] shadow-header z-[999] bg-white;
  .sub {
    @apply p-[10px_14px_0px]  top-[120%] -left-[75%] absolute 
    bg-white shadow-header  transition-all duration-300 invisible opacity-0;
    &__item {
      @apply w-full min-w-max  cursor-pointer flex items-center pb-[10px]
      gap-2;
      a {
        @apply text-sm leading-[20px] text-black-555 font-osr  w-full
        duration-400 transition-colors  min-w-[200px] max-w-[300px];
      }
      svg {
        path {
          @apply transition-colors duration-400;
        }
      }
      &:hover {
        a {
          @apply text-black;
        }
      }
    }
  }
  .mymenu {
    @apply h-full xs:hidden md:flex items-center;
    .arrow-down {
      @apply duration-300 transition-transform;
      path {
        @apply duration-300 transition-colors;
      }
    }
    a {
      @apply flex capitalize items-center gap-[6px] transition-colors duration-300
         h-full text-black-555
         font-ossb text-sm p-[12px_14px] min-w-max;
    }
    & > li > a {
      &.active {
        @apply text-black;
      }
    }
    svg {
      path {
        @apply fill-black-555;
      }
    }
    li {
      @apply transition-colors duration-300 ease-linear relative h-full;
      &:hover {
        & > a {
          @apply text-black;
          .arrow-down {
            @apply -rotate-180;
            svg {
              path {
                @apply fill-black;
              }
            }
          }
        }
        .submenu {
          @apply block 
            opacity-100 visible translate-y-[0];
        }
      }
    }
  }
  .submenu {
    @apply absolute top-[100%] left-0 bg-[#fafafa] 
       opacity-0 invisible translate-y-[20px] transition-all duration-300;
    li {
      @apply relative;
      &:hover {
        @apply bg-black-ebe;
        .submenu2 {
          @apply block 
            opacity-100 visible translate-x-[0px];
        }
      }
    }
  }
  .submenu2 {
    @apply absolute left-full top-0 bg-[#fafafa] 
       opacity-0 invisible translate-x-[20px] transition-all duration-300;
    li {
      @apply min-w-[120px];

      &:hover {
        @apply bg-black-ebe;
      }
    }
  }
  &__main {
    @apply h-full container flex items-center justify-between;
  }
  &__menu {
    @apply center-absolute h-full w-full xs:hidden lg:flex  items-center justify-center;
  }
  &__info {
    &-search,
    &-profile,
    &-whitelist,
    &-cart {
      @apply cursor-pointer relative md:px-[10px] xl:px-[12px] h-full
      flex items-center;
      .submenu {
        @apply left-[unset] right-0;
      }
      svg {
        path {
          @apply duration-300 transition-colors;
        }
      }
    }
    &-profile {
      .submenu {
        li {
          &:hover {
            a {
              svg {
                path {
                  @apply fill-black;
                }
              }
            }
          }
        }
      }
    }
  }
  &__advertisement {
    @apply fixed w-full h-[30px] left-0 top-0 flex items-center justify-center gap-2
     bg-header-banner py-[9px];

    p {
      @apply text-xs font-om text-white relative flex items-center justify-center
      before:rounded-[50%] gap-1 before:block before:h-[4px] 
      before:w-[4px] before:bg-white;
    }
  }
  &__logo {
    @apply h-full flex items-center justify-center  md:-translate-x-[65%] md:-translate-y-1/2
    lg:translate-x-0 lg:translate-y-0 lg:static md:absolute md:top-1/2 md:left-1/2;
    svg {
      @apply xs:w-[90px] md:w-[120px] lg:w-[160px];
    }
  }

  @keyframes slideup {
    0% {
      opacity: 0;
      transform: translateY(18px);
    }
    100% {
      opacity: 100%;
      transform: translateY(0px);
    }
  }
  @keyframes slideleft {
    0% {
      opacity: 0;
      transform: translateX(18px);
    }
    100% {
      opacity: 100%;
      transform: translateX(0px);
    }
  }
}
.nav {
  @apply fixed left-0 top-0  h-screen min-w-[240px]
   max-w-[440px] w-[80%]  z-[10000];
  &__inner {
    @apply bg-white w-[80%] h-full relative overflow-hidden;
    &-wrapper {
      @apply absolute top-0 left-0 right-0 bottom-0;
      &.is-open {
        @apply duration-400  z-10;
        transition: all 0.4s ease;
        .nav__inner-list {
        }
      }
      &.is-hidden {
        @apply duration-400 z-0;
        transition: all 0.4s ease;
        .nav__inner-list {
        }
      }
    }
    &-title {
      @apply text-[#000000BF] xs:text-[14px] md:text-[16px] min-h-[44px] font-om 
      flex justify-start items-center border-b border-solid border-[rgba(0,0,0,.1)];
    }
    &-list {
      @apply h-full w-full flex flex-col bg-white;

      .item {
        @apply text-[#000000BF] font-om xs:text-[14px] md:text-[16px] flex items-center;
        a {
          @apply block w-full p-[12px_10px_12px_20px] uppercase;
          transition: transform 0.4s;
        }
        .arrow-down {
          @apply transition-all duration-400 min-w-[50px] min-h-[38px] flex
          justify-center items-center rotate-[-90deg];
        }
      }
    }
  }
}
