.schero {
  &__slider {
    &:hover {
      .schero__slider-prev,
      .schero__slider-next {
        @apply opacity-100 visible;
        .icon {
          path {
            @apply fill-white;
          }
        }
      }
    }
    &-prev,
    &-next {
      @apply bg-white absolute top-1/2 -translate-y-1/2 xs:p-[6px] md:p-[11px]
        rounded-[50%] hover:bg-primary duration-400 transition-all cursor-pointer
         md:opacity-0 md:invisible z-10;
      .icon {
        @apply p-[2px] rounded-[50%] bg-primary duration-400 transition-colors;
        svg {
          @apply md:w-[14px] md:h-[14px] xs:h-[10px] xs:w-[10px];
        }
        path {
          @apply fill-primary duration-400 transition-colors;
        }
      }
    }
    &-prev {
      @apply left-[16px] rotate-180;
    }
    &-next {
      @apply right-[16px];
    }
    &-item {
      @apply md:h-[600px] xs:h-[400px] xl:h-screen xl:w-screen
      x:bg-[50%_calc(50%+76px)] lg:bg-[50%_calc(50%+80px)] xs:bg-[50%_calc(50%+46px)] 
      bg-no-repeat bg-cover  relative;
      .textbox {
        &__title {
          @apply xs:translate-x-[200%] xl:translate-x-[100%] transition-transform duration-[1000ms] opacity-0 invisible;
        }
        &__desc {
          @apply xs:translate-x-[-200%] xl:translate-x-[-100%] transition-transform duration-[1000ms] opacity-0 invisible;
        }
      }
    }
  }
  &__pagination {
    &-horizontal {
      @apply xs:bottom-[40px] sm:bottom-[58px] absolute w-full 
      flex items-center justify-center #{!important};
    }
    &-item {
      @apply xs:w-[14px] xs:h-[14px] sm:h-[20px] sm:w-[20px] relative 
          bg-white mx-[10px] rounded-[50%] block before:absolute
         sm:before:w-[9px] sm:before:h-[9px] xs:before:w-[6px] xs:before:h-[6px]
         before:bg-black-be before:rounded-[50%]  before:-translate-y-1/2
         before:top-1/2 before:left-1/2 before:-translate-x-1/2 
        before:duration-400 before:transition-colors;
      &.active {
        @apply before:bg-primary;
      }
    }
  }
  .swiper-slide-active {
    .textbox {
      &__title {
        @apply translate-x-[none] opacity-100 visible;
      }
      &__desc {
        @apply translate-x-[none] opacity-100 visible;
      }
    }
  }
}
.scfeatured {
  @apply mt-section p-section bg-gradient-to-r to-[#313131] from-[#393939];
  &__tabs {
    @apply xs:flex-wrap xs:gap-[14px] lg:flex-nowrap flex items-center justify-center
           xs:mb-[30px] lg:mb-[50px];
    &-item {
      @apply bg-white font-osb xs:text-[13px] md:text-[18px] text-black-555  cursor-pointer capitalize
            xs:py-[10px] md:py-[14px] xs:px-[20px] md:px-[60px]  rounded-[50px]  duration-400 
          transition-all relative  before:absolute before:w-[8px] before:h-[8px]  before:top-1/2 
         before:-translate-y-1/2 before:left-[44px] before:rounded-[50%] before:bg-white 
         md:before:block xs:before:hidden;
      &.active {
        @apply bg-primary text-white shadow-[inset_0px_8px_23px_13px_rgba(0,0,0,0.2)];
      }
    }
  }
  &__content {
    &-list {
      @apply relative;
      .prev,
      .next {
        @apply bg-white absolute  top-1/2 -translate-y-1/2 xs:p-[6px] md:p-[11px] z-10
        rounded-[50%] hover:bg-primary duration-400 transition-all cursor-pointer 
       block;
      }
      .prev {
        @apply xs:-left-[13px] md:-left-[20px];
      }
      .next {
        @apply xs:-right-[13px] md:-right-[20px];
      }
    }
  }
}
.scbrand {
  &__list {
    &-wrapper {
      @apply xs:-mx-[5px] lg:-mx-[10px];
    }
  }
}
.scshowcaseproduct {
  @apply pt-section;
  .swiper-wrapper {
    @apply pb-[20px];
  }
  .prev,
  .next {
    @apply bg-white absolute top-1/2 -translate-y-[calc(50%+20px)]
         xs:p-[6px] md:p-[11px] rounded-[50%] hover:bg-primary
         duration-400 transition-all cursor-pointer  shadow-header z-10;
    .prev__wrapper,
    .next__wrapper {
      @apply p-[2px] rounded-[50%] bg-primary duration-400 transition-colors;
    }
    svg {
      @apply md:w-[14px] md:h-[14px] xs:h-[10px] xs:w-[10px];
      path {
        @apply duration-400 transition-all fill-white;
      }
    }
    &:hover {
      svg {
        path {
          @apply fill-white;
        }
      }
    }
  }
  .prev {
    @apply xs:-left-[calc(26px/2)] md:-left-[calc(40px/2)];
  }
  .next {
    @apply xs:-right-[calc(26px/2)] md:-right-[calc(40px/2)];
  }
  &__top {
    @apply relative xs:max-w-[320px] md:max-w-[600px] px-[15px];
    .prev,
    .next {
      @apply p-[5px] top-1/2 -translate-y-1/2;
      svg {
        @apply md:w-[18px] md:h-[18px] xs:h-[12px] xs:w-[12px];
        path {
          @apply fill-grey-999;
        }
      }
    }
    .prev {
      @apply xs:-left-[calc(32px/2)] md:-left-[calc(32px/2)];
    }
    .next {
      @apply xs:-right-[calc(32px/2)] md:-right-[calc(32px/2)];
    }
  }
  &__bottom {
    &-list {
      @apply pb-[10px] relative;
    }
  }
}
.sctestimonial {
  .item {
    @apply bg-white p-[20px] md:p-[40px_40px_30px];
  }
}
.scadvertising {
  a {
    position: relative;
    display: inline-block;
    color: white;
    font-weight: 800;
    text-decoration: none;
    overflow: hidden;
    span {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      transform: translateX(-100%);
      transition: transform 275ms ease;
      &::before {
        display: inline-block;
        content: attr(data-content);
        //color to be filled
        color: #ff887b;
        transform: translateX(100%);
        transition: transform 275ms ease;
        text-decoration: none;
      }
    }
    &:hover {
      span {
        transform: translateX(0);
        &::before {
          transform: translateX(0);
        }
      }
    }
  }
}
