@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/src/scss/reset.scss";
@import "/src/scss/header.scss";
@import "/src/scss/footer.scss";
@import "/src/scss/homepage.scss";
@import "/src/scss/shop.scss";
@import "/src/scss/cart.scss";
@import "/src/scss/checkout.scss";
@import "/src/scss/authen.scss";
@import "/src/scss/profile.scss";
@import "/src/scss/hamburger.scss";

@import "swiper/css";
@import "swiper/css/effect-cube";
@import "swiper/css/pagination";
@import "swiper/css/effect-flip";
@import "swiper/css/effect-creative";

@import "react-lazy-load-image-component/src/effects/blur.css";
:root {
  --height-header-lg: 110px;
  --height-header-md: 96px;
  --height-header-xs: 86px;
}

@layer base {
  main {
    @apply transition-transform duration-300;
  }
  .my-scrollbar,
  .ant-dropdown-menu,
  .ant-drawer-body {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background-color: #e5e5e5;

      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #a8a8a8;
    }
  }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  body {
    scroll-behavior: smooth;
    @apply relative font-osr text-base text-black-555 overflow-x-hidden
     mx-auto h-full bg-white;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: #e5e5e5;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;

      background-color: #a8a8a8;
    }
  }
  .container {
    @apply relative;
  }
  .main-wrapper {
    @apply pt-main-wrapper;
  }
  input[type="file"]::file-selector-button {
    cursor: pointer;
    border: 1px solid #fafafa;
    border-radius: 10px;
    color: #fff;
    padding: 8px;
    background-color: #868686;
    transition: 0.4s;
  }
  input[type="file"]::file-selector-button:hover {
    background-color: #ff887b;
  }
  input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield;
    }
  }
}
@layer components {
  .breadcrumb {
    @apply py-[20px];
    &__list {
      @apply flex flex-wrap gap-y-[6px];
      &-wrapper {
        @apply flex;
        &:last-child {
          .line {
            @apply w-0;
          }
        }
      }
      &-item {
        @apply relative flex  items-center
                text-black-555 text-sm font-ossb tracking-wide
                hover:text-primary duration-300 transition-colors;
        &:not(:last-child) {
          @apply after:content-['\203A'] after:mx-[5px] after:text-md
          after:text-black-555;
        }
        a {
          @apply w-full flex;
        }

        &.active {
          @apply text-primary;
        }
      }
    }
  }
  /*  .range {
    .slider {
      height: 5px;
      position: relative;
      background: #ddd;
      border-radius: 5px;
      .progress {
        height: 100%;
        position: absolute;
        border-radius: 5px;
        background: #ff887b;
      }
    }
    &-input {
      position: relative;
    }
    input[type="range"] {
      position: absolute;
      width: 100%;
      height: 5px;
      top: -5px;
      background: none;
      pointer-events: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    input[type="range"]::-webkit-slider-thumb {
      height: 17px;
      width: 17px;
      border-radius: 5px;
      background: #ff887b;
      pointer-events: auto;
      -webkit-appearance: none;
      box-shadow: 0 0 6px rgba(248, 220, 220, 0.5);
      cursor: pointer;
    }
    input[type="range"]::-moz-range-thumb {
      height: 17px;
      width: 17px;
      border: none;
      border-radius: 5px;
      background: #ff887b;
      pointer-events: auto;
      -moz-appearance: none;
      box-shadow: 0 0 6px rgba(248, 220, 220, 0.5);
      cursor: pointer;
    }
  }*/
  .accordion {
    @apply font-ossb text-15px text-black-333 py-[24px]  flex flex-col
        border-b-[1px] border-solid border-[rgb(229,229,229)]
        w-full;

    &__heading {
      @apply flex items-center lg:gap-0 xs:gap-1  justify-between uppercase  cursor-pointer;
      h3 {
        @apply text-black-555 leading-[18px];
      }
      &.active {
        h3 {
          @apply text-black;
        }
        .accordion__heading-dropdown {
          @apply rotate-0;
        }
      }
      &-dropdown {
        @apply rounded-[50%] bg-[#f9f9f9] border-solid border duration-300
        transition-transform
        border-[rgb(229,229,229)]  p-[9px] rotate-[-180deg];
      }
    }
    &__content {
      @apply items-start w-full duration-300 transition-all;
      &-wrapper {
        @apply cursor-pointer;
        &.active {
          .heading {
            h3 {
              @apply text-primary;
            }
            .dropdown {
              @apply rotate-0;
            }
          }
        }
        .heading {
          @apply flex xs:justify-start lg:justify-normal  items-center 
           gap-[10px] duration-300 transition-colors hover:text-primary
           leading-[28px] capitalize;
          h3 {
            @apply font-om text-black-555 duration-300 transition-colors
          hover:text-primary w-full;
          }
          .dropdown {
            @apply rounded-[50%] bg-primary p-[5px] cursor-pointer rotate-[-180deg]
          transition-transform duration-300;
          }
        }
      }

      &-list {
        @apply flex flex-col pt-[2px] w-full duration-300 transition-all;
        .item {
          @apply h-full text-sm font-osr text-grey-999 
          hover:text-primary not-firstChild:pt-[16px] duration-300 transition-colors;
        }
      }
    }
  }
  .pagination {
    @apply flex  justify-center items-center bg-[#fafafa] py-[5px] 
    px-[15px] xs:gap-[10px] md:gap-[25px];
    &__list {
      @apply flex items-center gap-2;
      &-item {
        @apply font-osb text-sm text-black-333 h-[30px]  w-[30px]  rounded-[50%]
         border border-solid border-transparent transition-all duration-300 cursor-pointer
         flex items-center justify-center;

        &.active {
          @apply text-primary border-primary;
        }
        &:hover {
          @apply hover:text-primary hover:border-primary;
        }

        &.disable {
          @apply pointer-events-none text-gray-300 border-transparent;
        }
      }
    }
    &__prev {
      svg {
        @apply rotate-[180deg];
      }
    }
    &__prev,
    &__next {
      @apply cursor-pointer rounded-[50%] bg-white p-[11px] duration-400 
      transition-colors shadow-[0_10px_20px_0_rgba(0,0,0,0.1)] hover:bg-primary;
      &-wrapper {
        @apply p-[2px] rounded-[50%] bg-primary duration-400 transition-colors;
        svg {
          @apply md:w-[14px] md:h-[14px] xs:h-[10px] xs:w-[10px];
          path {
            @apply duration-400 transition-colors;
          }
        }
      }
      &.disable {
        @apply bg-gray-300 pointer-events-none;
        .pagination__prev-wrapper,
        .pagination__next-wrapper {
          @apply bg-gray-300;
        }
        svg {
          path {
            @apply fill-white;
          }
        }
      }
    }
  }
  .tab {
    &__header {
      @apply mb-[30px] border-b border-solid border-gray-200 
      flex items-center xs:justify-start lg:justify-center;
      &-item {
        @apply p-[10px_20px_15px] text-grey-999 text-[16px] font-osb duration-400 transition-colors
         relative before:absolute
         cursor-pointer before:w-full before:h-[2px] before:bg-primary before:top-[calc(100%)]
         before:left-0 before:origin-right before:scale-x-0 before:duration-400
          before:transition-transform;
        &.active {
          @apply before:origin-left  before:scale-x-100 text-black-555;
        }
      }
    }

    &__content {
      .review,
      .description {
        @apply hidden;
      }
      &-pane {
        @apply invisible opacity-0 transition-all duration-[400ms];
        &.active {
          @apply visible opacity-100;
          .review,
          .description {
            @apply block;
          }
        }
      }
    }
  }
  .form {
    @apply xs:pt-[10px] md:p-[10px_0px_0px_0px]  pb-[20px] pt-0;
    & > div {
      @apply mt-[10px];
    }
    &__container {
      @apply flex w-full items-center gap-3 md:flex-row xs:flex-col;
      &-wrapper {
        @apply font-osr text-sm text-black-333 flex flex-col;
        &.success {
          input,
          .textarea {
            @apply border-b-green-700;
          }
        }
        &.error {
          input,
          .textarea {
            @apply border-red-500;
          }
          p {
            @apply visible opacity-100;
          }
        }
        input {
          @apply border border-transparent border-b border-solid border-b-grey-999 p-[10px] mt-[12px]
        bg-[#f9f9f9];
        }
        p {
          @apply min-h-[12px] mt-[6px] mb-[-2px] invisible opacity-0 text-xs text-red-500;
        }
        .textarea {
          @apply border-transparent border-b border-solid  border-b-grey-999 p-[10px] mt-[12px]
         bg-[#f9f9f9];
        }
      }
    }
    &__title {
      @apply font-osb text-black-333 text-md;
    }
  }
  .table {
    .instock {
      @apply text-[#06a806] font-om;
    }
    .outstock {
      @apply text-red-500 font-om;
    }
    @apply md:mt-[30px] xs:mt-[20px] w-full font-osr text-black-555 text-[16px] 
         border-collapse border-spacing-0  lg:text-md;
    thead {
      @apply uppercase font-om xs:hidden md:table-row-group border-y border-solid border-black-be;
      tr {
        td {
          @apply py-[14px] first:text-left;
        }
      }
    }
    tbody {
      @apply xs:block md:table-row-group;
      tr {
        @apply xs:flex xs:items-center xs:justify-center xs:flex-col xs:gap-[8px]
       md:items-baseline md:justify-normal md:table-row  xs:border-b relative
       border-black-ebe border-solid pb-[20px]
       [&:not(:first-child)]:mt-[20px]  md:border-none;
        td {
          @apply text-black-555 font-osr text-[16px];
          .img {
            @apply block h-0 xs:pb-[80%] xl:pb-[62.2%] overflow-hidden relative cursor-pointer;
            img {
              @apply object-cover  h-full duration-400 transition-transform;
            }
          }
          .text {
            @apply duration-400 transition-colors;
          }
        }
      }
    }
    td {
      @apply text-center align-middle xs:pt-[7px] md:pt-[14px] 
      [&:nth-child(1)]:w-[100px] 
      lg:[&:nth-child(2)]:w-[300px] xs:[&:nth-child(2)]:w-[320px]
       lg:[&:nth-child(3)]:w-[100px] xs:[&:nth-child(3)]:w-[300px]
      
       [&:nth-child(4)]:w-[100px]
      xs:[&:nth-child(5)]:w-[300px] md:[&:nth-child(5)]:w-[100px] 
      [&:nth-child(6)]:w-[100px]  
      xs:text-sm lg:text-[16px];
    }
  }
  .error-desc {
    @apply mt-[6px] mb-[-2px] invisible opacity-0 text-xs text-red-500;
  }
  .error-input {
    input,
    textarea {
      @apply border border-solid border-red-500;
    }
    p {
      @apply visible opacity-100;
    }
  }
}
@layer utilities {
  .center-absolute {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute;
  }
  @keyframes transfer-ball {
    16.65% {
      -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }
  .animated-transfer-page {
    animation: transfer-ball 1s ease-in-out infinite;
  }
  .animated-transfer-page-2 {
    animation: transfer-ball 1s ease-in-out infinite;
    animation-delay: 100ms;
  }
  .animated-transfer-page-3 {
    animation: transfer-ball 1s ease-in-out infinite;
    animation-delay: 200ms;
  }
}
.authen,
.checkout,
.my-antd-accordion,
.nav-filter,
.accordion {
  :where(.css-dev-only-do-not-override-18iikkb).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-inner,
  :where(.css-dev-only-do-not-override-18iikkb).ant-checkbox:not(
      .ant-checkbox-disabled
    ):hover
    .ant-checkbox-inner {
    border-color: #ff887b;
  }
  :where(.css-dev-only-do-not-override-18iikkb).ant-checkbox-wrapper:not(
      .ant-checkbox-wrapper-disabled
    ):hover
    .ant-checkbox-checked:not(.ant-checkbox-disabled)
    .ant-checkbox-inner {
    background-color: #ff887b;
    border-color: transparent;
  }
  .ant-checkbox-wrapper {
    .ant-checkbox {
      &:hover {
        .ant-checkbox-inner {
          border-color: #ff887b !important;
        }
      }
      &-checked {
        .ant-checkbox-inner {
          background-color: #ff887b;
          border-color: #ff887b;
        }
      }
    }
    .ant-checkbox-disabled {
      .ant-checkbox-inner {
        background-color: rgba(0, 0, 0, 0.04) !important;
        border-color: #d9d9d9 !important;
      }
    }
  }
}
.double-img {
  transition: all 0.4s;
  img:nth-child(1) {
    opacity: 100%;
    visibility: visible;
  }
  img:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    img:nth-child(2) {
      opacity: 100%;
      visibility: visible;
    }
    img:nth-child(1) {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.shine {
  &:hover {
    &::before {
      animation: shine 1.2s;
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: -75%;
    display: block;
    content: "";
    width: 30%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(
      to right,
      rgba(255, 255, 225, 0) 0,
      rgba(255, 255, 255, 0.6) 100%
    );
    transform: skewX(-25deg);
    transition: all 1.2s;
  }
  @keyframes shine {
    100% {
      left: 100%;
    }
  }
}
@keyframes delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
@keyframes delayBefore {
  0% {
    top: 0%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
@keyframes delayAfter {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 50%;
  }
  100% {
    bottom: 0%;
  }
}
.table__dashboard {
  @apply xs:mt-[60px] md:mt-[70px] lg:mt-0;
  .ant-table {
    @apply min-h-[350px];
    .ant-table-column-sorters {
      @apply md:flex-auto xs:flex-none;
    }
    .ant-table-thead {
      .ant-table-cell {
        @apply align-middle  xs:flex md:table-cell
            xs:[&:nth-child(2)]:hidden md:[&:nth-child(2)]:table-cell
            xs:[&:nth-child(1)]:hidden md:[&:nth-child(1)]:table-cell;
      }
    }
    .ant-table-tbody {
      .ant-table-row {
        @apply md:table-row xs:flex xs:flex-col justify-center items-center gap-[8px]
              md:border-b md:border-solid md:border-black-be xs:py-[10px] lg:py-0;
        .ant-table-cell {
          @apply lg:p-[16px] xs:p-[10px] align-middle
          [&:nth-child(1)]:table-cell
          xs:[&:nth-child(2)]:w-[360px]  xs:[&:nth-child(3)]:w-[360px]
          xs:[&:nth-child(4)]:w-[360px]  xs:[&:nth-child(5)]:w-[360px]
          xs:[&:nth-child(6)]:w-[360px];
        }
      }
    }
  }
  &-product {
    .ant-table {
      .ant-table-tbody {
        .ant-table-row {
          .ant-table-cell {
            @apply [&:nth-child(4)]:min-w-[120px];
          }
        }
      }
    }
  }
  &-analyst {
    .table__dashboard {
      @apply xs:mt-0 md:mt-0;
    }
    .ant-table {
      @apply md:border-x md:border-solid md:border-[#f0f0f0];
    }
    .ant-table-cell {
      @apply [&:nth-child(1)]:max-w-[150px];
    }
  }
}
:where(.css-dev-only-do-not-override-18iikkb).ant-btn-primary {
  background-color: #555 !important;
  &:hover {
    background-color: #ff887b !important;
  }
}
.ant-slider {
  min-width: 300px !important;
}
.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0) !important;
  transition: filter 0.3s !important;
}
.ant-picker-dropdown {
  @apply z-[100000];
}
.ant-picker-panels {
  @apply md:flex md:flex-row xs:flex-col;
}
.my-drawer {
  z-index: 10001;
  .ant-drawer-header {
    .ant-drawer-header-title {
      @apply flex-row-reverse;
    }
    .ant-drawer-title {
      @apply font-osb text-md;
    }
  }
}
.animate-link-hover-1 {
  @apply not-lastChild:border-r not-lastChild:border-solid 
    not-lastChild:border-[#8a8a8a];
  a {
    @apply relative block font-om cursor-pointer capitalize p-[1px_10px]
    transition-all duration-400;
    &::before {
      @apply z-10 content-[''] block h-[1px] w-[calc(100%-20px)] absolute bottom-[-2px] left-1/2
      -translate-x-1/2 scale-x-0 origin-right transition-transform duration-400
      bg-primary;
    }
    &:hover {
      @apply text-primary;
      &::before {
        @apply -translate-x-1/2 scale-x-100 origin-left;
      }
    }
  }
  &.active {
    a {
      @apply text-primary;
      &::before {
        transform: translateX(-50%) scaleX(1);
        transform-origin: left;
      }
    }
  }
}
.btn-flip {
  @apply font-osb text-sm rounded-md;
  opacity: 1;
  outline: 0;
  color: #fff;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }
  &::after,
  &::before {
    @apply shadow-header rounded-md;
  }
  &:after {
    @apply xs:p-[10px_18px] lg:p-[14px_22px];
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #fff;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #ff887b;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
  }
  &:before {
    @apply xs:p-[10px_18px] lg:p-[14px_22px];
    top: 0;
    left: 0;
    opacity: 1;
    color: #555;
    display: block;
    transition: 0.5s;
    position: relative;
    background: #fff;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
  }
}
.my-antd-accordion {
  .ant-collapse-item {
    margin: 0 0 12px 0;
    .ant-collapse-content {
      .ant-collapse-content-box {
        padding: 0 0 6px 0 !important;
        @apply font-osr text-black-333;
      }
    }
    .ant-collapse-header {
      padding: 0 0 6px 0 !important;
    }
  }
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -2px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.waviy span {
  position: relative;
  display: inline-block;
  color: #000;
  animation: waviy 1s infinite;
  letter-spacing: 0.5px;
  &:nth-child(1) {
    animation-delay: calc(0.1s * 2);
  }
  &:nth-child(2) {
    animation-delay: calc(0.1s * 3);
  }
  &:nth-child(3) {
    animation-delay: calc(0.1s * 4);
  }
  &:nth-child(4) {
    animation-delay: calc(0.1s * 5);
  }
  &:nth-child(5) {
    animation-delay: calc(0.1s * 6);
  }
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
}
.swiper-button-disabled {
  @apply invisible opacity-0;
}
