.header {
  @apply h-header fixed w-full left-0 top-[30px] shadow-header z-[999] bg-white;
  .sub {
    @apply p-[10px_14px_0px]  top-[120%] -left-[75%] absolute 
    bg-white shadow-header  transition-all duration-300 invisible opacity-0;
    &__item {
      @apply w-full min-w-max  cursor-pointer flex items-center pb-[10px]
      gap-2;
      a {
        @apply text-sm leading-[20px] text-black-555 font-osr w-full
        duration-400 transition-colors max-w-[300px];
      }
      svg {
        path {
          @apply transition-colors duration-400;
        }
      }
      &:hover {
        a {
          @apply text-primary;
        }
      }
    }
  }
  &__main {
    @apply h-full container flex items-center justify-between;
  }
  &__menu {
    @apply h-full center-absolute flex items-center lg:gap-[20px] xl:gap-[30px];
    &-item {
      @apply h-full flex items-center;
      &:hover {
        .sub {
          @apply top-[calc(100%+1px)] visible opacity-100;
        }
      }
      a {
        @apply flex items-center h-full text-sm text-black-555 font-osr font-semibold  
          duration-400 cursor-pointer gap-[5px] transition-colors capitalize;
        .arrow-down {
          @apply duration-400 transition-transform;
          path {
            @apply duration-400 transition-colors;
          }
        }
        &:hover,
        &.active {
          @apply text-black;
          .arrow-down {
            @apply -rotate-180;
            svg {
              path {
                @apply fill-black;
              }
            }
          }
        }
      }
    }
  }
  &__info {
    &-search,
    &-profile,
    &-whitelist,
    &-address,
    &-cart {
      @apply cursor-pointer relative md:px-[10px] xl:px-[12px] h-full
      flex items-center;
      .sub__item {
        @apply not-lastChild:border-b not-lastChild:border-[#e3e3e3]
       not-lastChild:border-solid duration-300 transition-colors
       first:p-[10px_10px] hover:bg-black-ebe p-0;
        &:not(:first-child) {
          a {
            @apply p-[10px_10px_10px_20px];
          }
        }
        a {
          @apply flex items-center gap-2  text-[#222] w-full;
        }
      }

      svg {
        @apply h-[22px] w-[22px];
        path {
          @apply duration-300 transition-colors;
        }
      }

      &:hover {
        .sub {
          @apply top-[calc(100%+1px)] visible opacity-100;
        }
      }
    }
  }
  &__advertisement {
    @apply fixed w-full h-[30px] left-0 top-0 flex items-center justify-center gap-2
     bg-header-banner py-[9px];
    p {
      @apply text-xs font-om text-white relative flex items-center justify-center
      before:rounded-[50%] gap-1 before:block before:h-[4px] 
      before:w-[4px] before:bg-white;
    }
  }
  &__logo {
    @apply md:-translate-x-[65%] md:-translate-y-1/2
    lg:translate-x-0 lg:translate-y-0 lg:static md:absolute md:top-1/2 md:left-1/2;
    svg {
      @apply xs:w-[90px] md:w-[120px] lg:w-[120px];
    }
  }
}
.nav {
  @apply fixed left-0 top-0  h-screen min-w-[240px]
   max-w-[440px] w-[80%]  z-[10000];
  &__inner {
    @apply bg-white h-full relative overflow-hidden;
    &-wrapper {
      @apply absolute top-0 left-0 right-0 bottom-0;
      &.is-open {
        @apply duration-400  z-10;
        transition: all 0.4s ease;
        .nav__inner-list {
        }
      }
      &.is-hidden {
        @apply duration-400 z-0;
        transition: all 0.4s ease;
        .nav__inner-list {
        }
      }
    }
    &-title {
      @apply text-[#000000BF] xs:text-[14px] md:text-[16px] min-h-[44px] font-om 
      flex justify-start items-center border-b border-solid border-[rgba(0,0,0,.1)];
    }
    &-list {
      @apply h-full w-full flex flex-col bg-white;

      .item {
        @apply text-[#000000BF] font-om xs:text-[14px] md:text-[16px] flex items-center;
        a {
          @apply block w-full p-[12px_10px_12px_20px] uppercase;
          transition: transform 0.4s;
        }
        .arrow-down {
          @apply transition-all duration-400 min-w-[50px] min-h-[38px] flex
          justify-center items-center rotate-[-90deg];
        }
      }
    }
  }
}
