.header {
  @apply h-header fixed w-full left-0 top-0 shadow-header z-[1000] bg-white;
  .sub {
    @apply p-[10px_14px_0px]  top-[120%] -left-[75%] absolute 
    bg-white shadow-header  transition-all duration-300 invisible opacity-0;
    &__item {
      @apply w-full min-w-max pb-[14px] cursor-pointer flex items-center
      gap-2;
      a {
        @apply text-sm leading-[20px] text-black-555 font-mam
        duration-400 transition-colors max-w-[300px];
      }
      svg {
        path {
          @apply transition-colors duration-400;
        }
      }
      &:hover {
        a {
          @apply text-primary;
        }
      }
    }
  }
  &__menu {
    @apply h-full center-absolute flex items-center gap-[40px];
    &-item {
      @apply h-full flex items-center;
      &:hover {
        .sub {
          @apply top-[calc(100%+2px)] visible opacity-100;
        }
      }
      a {
        @apply flex items-center h-full text-sm text-black-555 font-mam  
         font-[700]  duration-400 cursor-pointer gap-[5px] transition-colors;
        .arrow-down {
          @apply duration-400 transition-transform;
          path {
            @apply duration-400 transition-colors;
          }
        }
        &:hover,
        &.active {
          @apply text-primary;
          .arrow-down {
            @apply -rotate-180;
            svg {
              path {
                @apply fill-primary;
              }
            }
          }
        }
      }
    }
  }
  &__info {
    &-search,
    &-profile,
    &-whitelist,
    &-address,
    &-cart {
      @apply cursor-pointer relative xs:px-[8px] md:px-[15px] h-full
      flex items-center;
      .sub__item {
        @apply not-lastChild:border-b not-lastChild:border-[#e3e3e3]
       not-lastChild:border-solid duration-300 transition-colors
       first:p-[10px_10px] hover:bg-black-ebe not-firstChild:p-[10px_10px_10px_20px];
        a {
          @apply flex items-center gap-2  text-[#222] w-full;
        }
      }
      svg {
        @apply h-[22px] w-[22px];
        path {
          @apply fill-[#222] duration-300 transition-colors;
        }
      }
      &:hover {
        .sub {
          @apply top-[calc(100%+1px)] visible opacity-100;
        }
      }
    }
  }
  &__logo {
    @apply md:-translate-x-[65%] md:-translate-y-1/2
    lg:translate-x-0 lg:translate-y-0 lg:static md:absolute md:top-1/2 md:left-1/2;
    svg {
      @apply xs:w-[130px] md:w-[150px] lg:w-[182px];
    }
  }
}
.nav {
  @apply fixed left-0 xs:top-[56px] 
  md:top-[75px] h-screen w-[50%] z-[100];
  &__inner {
    @apply h-full w-[100%] bg-[#343434] bg-opacity-75;
    &-list {
      @apply h-full w-full flex flex-col  py-[10px]
       xs:pl-[14px] md:pl-[20px];
      .has-sub {
        @apply md:py-[16px] xs:py-[12px];
      }
      .item {
        @apply text-white font-mam xs:text-[14px] md:text-[20px];
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(6) {
          a {
            @apply block w-full md:py-[16px] xs:py-[12px];
          }
        }

        &__wrap {
          @apply flex items-center gap-2 h-full;
          a {
            @apply duration-400 transition-colors;
          }
        }
        &__sub {
          @apply absolute bg-[#282926]  left-[100%] top-[0] flex 
          items-center justify-center transition-all duration-400
           min-w-max invisible opacity-0;
          &-list {
            @apply flex flex-col xs:gap-4 md:gap-2 md:max-w-[250px] md:max-h-[400px]
           xs:max-w-[180px] xs:max-h-[244px] overflow-y-auto py-3;
            li {
              @apply flex items-center  gap-2 md:text-md xs:text-[14px] 
              px-[14px]  md:p-2 md:py-2 md:px-4  font-mar text-white;
              a {
                @apply leading-[20px];
              }
            }
          }
        }
        .arrow-down {
          @apply transition-all duration-400;
        }
      }
    }
  }
}
