.schero {
  &__slider {
    &:hover {
      .schero__slider-prev,
      .schero__slider-next {
        @apply opacity-100 visible;
      }
    }
    &-prev,
    &-next {
      @apply bg-white absolute  top-1/2 -translate-y-1/2 xs:p-[6px] md:p-[11px]
        rounded-[50%] hover:bg-primary duration-400 transition-all cursor-pointer
         md:opacity-0 md:invisible z-10;
    }
    &-prev {
      @apply left-[16px];
    }
    &-next {
      @apply right-[16px];
    }
    &-item {
      @apply md:h-[600px] xs:h-[400px] xl:h-screen xl:w-screen
      x:bg-[50%_calc(50%+76px)] lg:bg-[50%_calc(50%+92px)] xs:bg-[50%_calc(50%+46px)] 
      bg-no-repeat bg-cover  relative;
      .textbox {
        &__title {
          @apply xs:translate-x-[200%] xl:translate-x-[100%] transition-transform duration-[1000ms] opacity-0 invisible;
        }
        &__desc {
          @apply xs:translate-x-[-200%] xl:translate-x-[-100%] transition-transform duration-[1000ms] opacity-0 invisible;
        }
      }
    }
  }
  &__pagination {
    &-horizontal {
      @apply xs:bottom-[40px] sm:bottom-[58px] absolute w-full 
      flex items-center justify-center #{!important};
    }
    &-item {
      @apply xs:w-[14px] xs:h-[14px] sm:h-[20px] sm:w-[20px] relative 
          bg-white mx-[10px] rounded-[50%] block before:absolute
         sm:before:w-[9px] sm:before:h-[9px] xs:before:w-[6px] xs:before:h-[6px]
         before:bg-black-be before:rounded-[50%]  before:-translate-y-1/2
         before:top-1/2 before:left-1/2 before:-translate-x-1/2 
        before:duration-400 before:transition-colors;
      &.active {
        @apply before:bg-primary;
      }
    }
  }
  .swiper-slide-active {
    .textbox {
      &__title {
        @apply translate-x-[none] opacity-100 visible;
      }
      &__desc {
        @apply translate-x-[none] opacity-100 visible;
      }
    }
  }
}
.scfeatured {
  &__tabs {
    @apply xs:flex-wrap xs:gap-[14px] lg:flex-nowrap flex items-center justify-center
           xs:mb-[30px] md:mb-[50px];
    &-item {
      @apply bg-white font-osb xs:text-[13px] md:text-[18px] text-black-555  cursor-pointer uppercase
            xs:py-[3px] md:py-[7px] xs:px-[20px] md:px-[72.2px]  rounded-[50px]  duration-400 
          transition-all relative  before:absolute before:w-[10px] before:h-[10px]  before:top-1/2 
         before:-translate-y-1/2 before:left-[52px] before:rounded-[50%] before:bg-white 
         md:before:block xs:before:hidden;
      &.active {
        @apply bg-primary text-white shadow-[inset_0px_8px_23px_13px_rgba(0,0,0,0.2)];
      }
    }
  }
  &__content {
    &-list {
      @apply relative;
      .prev,
      .next {
        @apply bg-white absolute  top-1/2 -translate-y-1/2 xs:p-[6px] md:p-[11px] z-10
        rounded-[50%] hover:bg-primary duration-400 transition-all cursor-pointer 
       block;
      }
      .prev {
        @apply xs:-left-[13px] md:-left-[20px];
      }
      .next {
        @apply xs:-right-[13px] md:-right-[20px];
      }

      .item {
        @apply bg-white xs:p-[20px_14px_14px] md:p-[30px_30px_20px] lg:p-[40px_40px_26px] #{!important};
      }
    }
  }
}
.scbrand {
  &__list {
    &-wrapper {
      @apply xs:-mx-[5px] lg:-mx-[10px];
    }
  }
}
.scshowcaseproduct {
  .swiper-wrapper {
    @apply pb-[20px];
  }
  &__top {
    @apply border-b-[1px] border-dashed border-primary pb-[15px] 
    xs:mb-[30px] lg:mb-[50px] flex items-center justify-between
     xs:flex-col xs:gap-5 lg:gap-0 lg:flex-row;
  }
  &__bottom {
    &-list {
      @apply pb-[10px] relative;
      .prev,
      .next {
        @apply bg-white absolute top-1/2 -translate-y-[calc(50%+20px)]
         xs:p-[6px] md:p-[11px] z-10
        rounded-[50%] hover:bg-primary duration-400 transition-all
         cursor-pointer block;
      }
      .prev {
        @apply xs:-left-[calc(26px/2)] md:-left-[calc(40px/2)];
      }
      .next {
        @apply xs:-right-[calc(26px/2)] md:-right-[calc(40px/2)];
      }
    }
  }
}
.sctestimonial {
  .item {
    @apply bg-white p-[20px] md:p-[40px_40px_30px];
  }
}
